@import "tailwindcss";

@layer base {
  html {
    font-family: "Clash Grotesk", "Inter", sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Clash Display", sans-serif;
    font-weight: 500;
  }
}

@font-face { font-family: "Clash Grotesk"; src: url("/src/assets/fonts/ClashGrotesk-Regular.woff") format("woff"); font-weight: 400; }
@font-face { font-family: "Clash Grotesk"; src: url("/src/assets/fonts/ClashGrotesk-Medium.woff") format("woff"); font-weight: 500; }
@font-face { font-family: "Clash Grotesk"; src: url("/src/assets/fonts/ClashGrotesk-Semibold.woff") format("woff"); font-weight: 600; }

:root {
  --west-bg: #F1ECDC;
  --west-bg-secondary: #1F473E;
  --max-width: 1440px;
  --padding-mobile: 16px;
  --padding-tablet: 24px;
}

body {
  background-color: var(--west-bg);
  color: var(--west-bg-secondary);
}

.h1 { font-size: 120px; letter-spacing: -0.02em; }
.h2 { font-size: 80px; }
.h3 { font-size: 64px; }
.h4 { font-size: 40px; }
.h5 { font-size: 32px; }

.body-big { font-size: 28px; }
.body-medium { font-size: 24px; }
.body-regular { font-size: 20px; }

.btn-regular {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  @apply md:flex justify-center items-center px-6 h-12 rounded-full gap-4 uppercase;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--west-bg-secondary);
  color: var(--west-bg);
}


.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 16px;
}

.underline-slide {
  position: relative;
  width: fit-content;
}

.underline-slide::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--west-bg-secondary);
  transition: width 0.3s ease-in-out;
}

.underline-slide:hover::after {
  width: 100%;
}

/* Thicker underline for menu items */
.underline-slide-thick::after {
  height: 3px;
  bottom: -6px;
}

@media (min-width: 640px) {
  .container { padding-inline: 24px; }
}

.icon-circle {
  @apply w-14 h-14 rounded-full border flex items-center justify-center cursor-pointer;
}


/* SCROLLBAR */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb { background: #c9c9c9; border-radius: 4px; }
