@import "tailwindcss";

/* Variables */

:root {
  --west-bg: #F1ECDC;
  --west-bg-secondary: #1F473E;
  --max-width: 1440px;

  --padding-mobile: 16px;
  --padding-tablet: 24px;
  --padding-desktop: 32px;
}

/* Reset & Core  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Clash Grotesk", "Inter", sans-serif;
}

body {
  background-color: var(--west-bg);
  color: var(--west-bg-secondary);
  line-height: 1.4;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: "Clash Display", sans-serif;
  font-weight: 400;
}

.h1 { font-size: 120px; letter-spacing: -0.02em; }
.h2 { font-size: 80px; }
.h3 { font-size: 64px; }
.h4 { font-size: 40px; }
.h5 { font-size: 32px; }

.body-big { font-size: 28px; }
.body-medium { font-size: 24px; }
.body-regular { font-size: 20px; }
.tag { font-size: 18px; }
.btn-regular { font-size: 18px; font-weight: 500; letter-spacing: 0.02em; }
.btn-small { font-size: 16px; font-weight: 500; letter-spacing: 0.02em; }

/*Container */

.container {
  width: 100%;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding-mobile);
  padding-right: var(--padding-mobile);
}

@media (min-width: 640px) {
  .container {
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: var(--padding-desktop);
    padding-right: var(--padding-desktop);
  }
}

.section {
  padding-block: 80px;
}

@media (max-width: 768px) {
  .section {
    padding-block: 50px;
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
